# Firebase Settings
FIREBASE_APPLICATION_CREDENTIALS=/secrets/firebase.json

# AWS Settings
AWS_ACCESS_KEY_ID=__REPLACE_ME__
AWS_SECRET_ACCESS_KEY=__REPLACE_ME__
AWS_REGION=us-east-2

# Accounts Service
VALIDATE_ORGANIZATION_ID_URL=http://validate-organization-id-function:8080/2015-03-31/functions/function/invocations
CREATE_USER_URL=http://create-user-function:8080/2015-03-31/functions/function/invocations
GET_USER_URL=http://get-user-function:8080/2015-03-31/functions/function/invocations
GET_PUBLIC_KEY_URL=http://get-public-key-function:8080/2015-03-31/functions/function/invocations

# Jobs Service
JOBS_SERVICE_BASE_URL=http://jobs-api:8003/jobs
JOBS_SERVICE_RUBRICS_URL=http://jobs-api:8003/jobs/rubrics
JOBS_SERVICE_TASKS_URL=http://jobs-api:8003/jobs/tasks

# Applications Service
APPLICATIONS_SERVICE_BASE_URL=http://applications-api:8002/applications
