# Open-AI-related variables
OPENAI_API_KEY=__REPLACE_ME__

# Cloud-Convert
CLOUDCONVERT_API_KEY=__REPLACE_ME__

# DB Settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=__REPLACE_ME__
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# S3 Settings
AWS_ACCESS_KEY_ID=__REPLACE_ME__
AWS_SECRET_ACCESS_KEY=__REPLACE_ME__
AWS_BUCKET_NAME=__REPLACE_ME__
AWS_REGION=us-east-2

# Service URLs
CELERY_BROKER_URL=amqp://guest:guest@broker-rabbitmq:5672//
CELERY_RESULTS_BACKEND_URL=redis://broker-redis:6379/0
JOBS_API_URL=http://jobs-api:8003/jobs

# System settings
PYTHONPATH=/app
LOG_LEVEL=DEBUG
