@import './styles.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.ReactModal__Body--open {
  overflow: hidden !important;
}

body, p, ul, ol, li, span, section {
  font-family: var(--typeface-body);
  color: var(--color-body);
  line-height: 1.8;
  font-weight: 400;
}

body, html {
  background-color: #F3F8EE;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin-block-start: 0;
}

h1, h2, h3 {
  font-family: var(--typeface-header);
  text-align: left;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-h1);
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--color-h2);
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 5px;
  line-height: 1.2;
  border-bottom: none; /* remove underline from default */
}



h2.h2-underlined {
  border-bottom: 2px solid #E0E0E0;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-h3);
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 1.3;
}

h4 {
  line-height: 1.5;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

button {
  line-height: 1;
}