# Ignore node_modules (frontend dependencies)
node_modules/

# Ignore Python virtual environments
.venv/
env/

# Ignore build files
dist/
build/

# Ignore local environment settings
*.env
*.env.*
.DS_Store