# AWS Settings
AWS_ACCESS_KEY_ID=__REPLACE_ME__
AWS_SECRET_ACCESS_KEY=__REPLACE_ME__
AWS_REGION=us-east-2

# CORS
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:63342,http://localhost:3000

# Services
APPLICATIONS_SERVICE_BASE_URL=http://applications-api:8002/applications
JOBS_SERVICE_BASE_URL=http://jobs-api:8003/jobs
