.card {
    width: 100%;
    background-color: #FFFFFF;
    border: var(--card-border);
    box-shadow: var(--card-shadow);
    border-radius: var(--radius-lg);
    padding: var(--spacing-md);
    margin: 0;
}